<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div class="container">
	<!-- Jumbotron -->
	<div class="jumbotron" style="margin-top: 40px;">
		<div class="error-template">
			<h1>
				Oops!</h1>
			<h2>
				404 Página não encontrada</h2>
			<div class="error-details">
				Desculpe, a página que você tentou acessar não foi encontrada ou não existe.
				Verifique se a URL está correta ou entre em contato com a gente se precisar de ajuda.
			</div>
			<div class="error-actions">
				<a href="javascript:history.back()" class="btn btn-primary btn-lg">
					<span class="glyphicon glyphicon-home"></span>
					Voltar para onde estava
				</a>
			</div>
		</div>
	</div>
</div>
</html>